.DashBoard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
    
}
.L{
    display: flex;
    align-items: center;
    width: 55%;
    background-color: white;
    height: 25rem;
    
}

.P{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40%;
    
}
.Charts{
    display: flex;
    gap: 1.5rem;
    
}
