.DashBoard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
    gap: 1rem;
    
}
.L{
    display: flex;
    align-items: center;
    width: 55%;
    background-color: white;
    height: 25rem;
    
}

.P{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40%;
    
}
.Charts{
    display: flex;
    gap: 1.5rem;
    
}

.p-table{
    background-color: white;
    width: fit-content;
}

.pro-sec{
    display: flex;
    gap: 2rem;
}