.DashBoard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 82%;
    gap: 1rem;
    
}
.L{
    display: flex;
    align-items: center;
    width: 55%;
    background-color: white;
    height: 25rem;
    
}

.P{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40%;
    
}
.Charts{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
    margin-top: -0.2rem;
    
}

.p-table{
    background-color: white;
    width: auto;
    margin-top: -1rem;
}

.pro-sec{
    display: flex;
    gap: 2rem;
}

.ProfileCard-sec{

    background-color: white;
    margin-bottom: -1.5rem;
    border-radius: 15px;
    margin-top: -1rem;
}