.home{
   display: grid;
   grid-template-columns: 13rem auto;
}
.left-side{
    display: flex;
    background-color: rgb(2, 20, 53);
    padding: 20px;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 90%;
}
.right-side{
    display: flex;
    background-color: rgb(204, 223, 236);
    padding-left: 2rem;
    justify-content: center;
}
.Logout{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -2rem;
    border: none;
    color: red;
    align-items: center;
    gap: 0.3rem;
    height:2rem;
    background-color: white;
}