.home{
   display: grid;
   grid-template-columns: 13rem auto;
}
.left-side{
    display: flex;
    background-color: rgb(2, 20, 53);
    padding: 20px;
    justify-content: center;
}
.right-side{
    display: flex;
    background-color: rgb(204, 223, 236);
    padding-left: 2rem;
    justify-content: center;
}