.home{
   display: grid;
   grid-template-columns: 13rem auto;
}
.left-side{
    display: flex;
    background-color: rgb(3, 42, 114);
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.right-side{
    display: flex;
    background-color: lightblue;
    padding-left: 2rem;
    justify-content: center;
}