.Main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    gap: 2rem;
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 12rem;
}

.sub{
    display: flex;
    color: white;
    gap: 0.5rem;
    
    background-color: black;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.sub >img{
    width: 20px;
}

.log :hover{
    cursor: pointer;
}

.sub:hover{
    cursor: pointer;
    background-color: rgb(245, 243, 243);
    color: rgb(12, 10, 10);
}
