/* TableComponent.css */
.product-table {
 
    border-collapse: collapse;

    width: 49rem;
  }
  
  .product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }
  
  .product-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  @media screen and (max-width: 800px) {
    .product-table {
        width: 40rem;
        
    }
}
 

  @media screen and (max-width: 767px) {
    .product-table {
      width: 26.8rem;
      overflow: hidden;
  }
}
@media only screen and (max-width: 1188px){
  .product-table {
    width: 44.8rem;

}
}
